.container {
  max-width: 800px;
  background: #e7eaf6;
}
.App-header {
  font-family: "Cormorant", serif;
  margin: 9px;
}
.App-header h1 {
  text-align: center;
  padding: 30px;
  font-size: 65px;
}
.container footer {
  margin-top: 100px;
}
